body{
   text-align: center;
}.board {
  display: flex;
  width: 270px;
  height: 270px;
  flex-wrap: wrap;
  border: 4px solid black;
  margin: 32px auto 64px auto;
}

.square {
  height: 90px;
  width: 90px;
  box-sizing: border-box;
  border: 4px solid black;
  font-size: 4em;
  display: flex;
  justify-content: center;
}

.winner{
  text-align: center;
  color: #0CC90C;
}
